# CA05 â€“ kNN based Movie Recommender Engine

In [57]:
#Importing the necessary packages:
import pandas as pd
import numpy as np
from sklearn import neighbors
from sklearn.neighbors import KNeighborsClassifier, NearestNeighbors

In [58]:
#Importing the dataset
movie_df = pd.read_csv('https://github.com/ArinB/MSBA-CA-Data/raw/main/CA05/movies_recommendation_data.csv')
movie_df

,Movie ID,Movie Name,IMDB Rating,Biography,Drama,Thriller,Comedy,Crime,Mystery,History,Label
0,58,The Imitation Game,8.0,1,1,1,0,0,0,0,0
1,8,Ex Machina,7.7,0,1,0,0,0,1,0,0
2,46,A Beautiful Mind,8.2,1,1,0,0,0,0,0,0
3,62,Good Will Hunting,8.3,0,1,0,0,0,0,0,0
4,97,Forrest Gump,8.8,0,1,0,0,0,0,0,0
5,98,21,6.8,0,1,0,0,1,0,1,0
6,31,Gifted,7.6,0,1,0,0,0,0,0,0
7,3,Travelling Salesman,5.9,0,1,0,0,0,1,0,0
8,51,Avatar,7.9,0,0,0,0,0,0,0,0
9,47,The Karate Kid,7.2,0,1,0,0,0,0,0,0
10,50,A Brilliant Young Mind,7.2,0,1,0,0,0,0,0,0
11,49,A Time To Kill,7.4,0,1,1,0,1,0,0,0
12,30,Interstellar,8.6,0,1,0,0,0,0,0,0
13,94,The Wolf of Wall Street,8.2,1,0,0,1,1,0,0,0
14,6,Black Panther,7.4,0,0,0,0,0,0,0,0
15,73,Inception,8.8,0,0,0,0,0,0,0,0
16,44,The Wind Rises,7.8,1,1,0,0,0,0,0,0
17,65,Spirited Away,8.6,0,0,0,0,0,0,0,0
18,48,Finding Forrester,7.3,0,1,0,0,0,0,0,0
19,27,The Fountain,7.3,0,0,0,0,0,0,0,0
20,57,The DaVinci Code,6.6,0,0,1,0,0,1,0,0
21,57,Stand and Deliver,7.3,0,1,0,0,0,0,0,0
22,14,The Terminator,8.0,0,0,0,0,0,0,0,0
23,69,21 Jump Street,7.2,0,0,0,1,1,0,0,0
24,98,The Avengers,8.1,0,0,0,0,0,0,0,0
25,17,Thor: Ragnarok,7.9,0,0,0,1,0,0,0,0
26,12,Spirit: Stallion of the Cimarron,7.1,0,0,0,0,0,0,0,0
27,1,Hacksaw Ridge,8.2,1,1,0,0,0,0,1,0
28,86,12 Years a Slave,8.1,1,1,0,0,0,0,1,0
29,46,Queen of Katwe,7.4,1,1,0,0,0,0,0,0

# Data Cleaning and Analysis

In [59]:
#Checking the column names
movie_df.columns

Index(['Movie ID', 'Movie Name', 'IMDB Rating', 'Biography', 'Drama',
       'Thriller', 'Comedy', 'Crime', 'Mystery', 'History', 'Label'],
      dtype='object')

In [60]:
#Checking the size of the dataset, by checking the number of rows and columns in the dataset
movie_df.shape

(30, 11)

In [61]:
#Checking the data type of each column
movie_df.dtypes

Movie ID         int64
Movie Name      object
IMDB Rating    float64
Biography        int64
Drama            int64
Thriller         int64
Comedy           int64
Crime            int64
Mystery          int64
History          int64
Label            int64
dtype: object

In [62]:
#Checking to see if there are any missing values in each column
movie_df.isnull().sum()

Movie ID       0
Movie Name     0
IMDB Rating    0
Biography      0
Drama          0
Thriller       0
Comedy         0
Crime          0
Mystery        0
History        0
Label          0
dtype: int64

In [63]:
#Droping the irrelevant Label column
movie_df = movie_df.drop('Label', axis=1)

# Building the Movie Recommender System

Goal: Given a movies data set, what are the 5 most similar movies to a movie query?

In [73]:
#Defining the variables
x = df[['IMDB Rating', 'Biography', 'Drama', 'Thriller', 'Comedy', 'Crime', 'Mystery', 'History']]
y = df['Movie Name']

In [74]:
#Applying NearestNeighbors functions to variables
df_NN = NearestNeighbors(n_neighbors=5) 
df_NN.fit(x,y)

NearestNeighbors()

In [75]:
#Creating a list that contains "The Post"'s attributes
The_Post = [7.2, 1, 1, 0, 0, 0, 0, 1]

In [76]:
#Finding the k nearest neighbors of The Post 
The_Post = pd.DataFrame([The_Post], columns=x.columns)
distance, movie_row = df_NN.kneighbors(The_Post)

# Movie Recommendations

In [81]:
#Finding movies according to their row
nearest_movie_names = df.iloc[movie_row[0]]['Movie Name'].values

#Displaying the titles for recommendations
print(" Top 5 Recommended Movies for Lovers of: The Post \n")
for title in nearest_movie_names:
    print(title)

 Top 5 Recommended Movies for Lovers of: The Post

12 Years a Slave
Hacksaw Ridge
Queen of Katwe
The Wind Rises
A Beautiful Mind